/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Text Styles */

* {
  font-family: AvenirNext, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
}

a,
.form-footer a {
  color: #0077c5;
  text-decoration: none;
}

/* Section Layout */

body {
  text-align: center;
  background-color: #eceef1;
}

.sign-in-path {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.sign-in-block {
}

header {
  display: block;
  width: 233px;
  height: 50px;
  margin: 0 auto;
}

.form-section {
  background-color: #fff;
  width: 318px;
  /* height: 606px; */
  margin: 0 auto;
}

.form-footer {
  width: 318px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #c7c7c7;
  border-top: 0;
  color: #8d9096;
  font-size: 10px;
}

footer {
  width: 90%;
  padding: 20px 0;
  margin: 12px auto;
  margin-bottom: 0;
}

.btn-float {
  background-color: grey;
  padding: 10px 12px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  right: 5%;
}

/* Form Styling */

form {
  text-align: left;

  padding-top: 20px;
}

.form-section {
  border: 1px solid #c7c7c7;
  border-bottom: 0;
  padding: 30px;
}

.form-section label {
  width: 100%;
}

.form-section fieldset {
  height: 95px;
}

.form-section input {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  border: 1px solid grey;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px;
  font: 400 16px system-ui;
}

#phone {
  margin-bottom: 0px;
}

.form-section .fine-print {
  font-size: 12px;
  margin-bottom: 20px;
  display: block;
}

#form-bttn,
#signin-bttn {
  width: 100%;
  height: 44px;
  background-color: #0077c5;
  border: #0077c5;
  padding: 8px;
  color: #fff;
  border-radius: 4px;
  font-size: 1.125em;
  font-weight: normal;
}

.form-footer a {
  font-weight: 400;
  color: ;
}

/* Form Text */

.form-section h2 {
  color: #4c4c4c;
  font-weight: 400;
  line-height: 1.1;
  font-size: 24px;
  font-family: AvenirNext, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
}

#sub-header {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

#sub-header-link {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

.form-fine-print {
  line-height: 25px;
  font-size: 12px;
  font-style: italic;
  color: #757575;
}

/* header logos */

#inuit-logo {
  width: 118px;
  height: 35px;
}

/* Sign In Section */

.sign-in-text {
  float: left;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  font-family: AvenirNext, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #505050;
  font-size: 12px;
}
.sign-in-text:first-child {
  font-size: 12px;
  height: 20px;
  line-height: 18px;
}

.sign-in-bttn-div {
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}

/* footer font */

footer {
  color: #505050;
  font-size: 12px;
  font-weight: 400;
}
