.sign-in-path {
  background-color: green;
}

header {
  background-color: indianred;
}

form {
  background-color: lightblue;
}

footer {
  background-color: lightcoral;
}

.btn-float {
  background-color: lightgreen;
}
